/* ERROR */
.error .error__content {
  margin-bottom: 50px;
}
.error .error__content h1 {
  color: #dc4f72;
  font-size: 100px;
  font-weight: 600;
  line-height: 120px;
  letter-spacing: -12px;
}
.error .error__content h2 {
  color: #2c3038;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;

  margin: 0 0 10px;
}
.error .error__content p {
  color: #5a5a5a;
  line-height: 24px;
  margin: 24px 0 0;
}
.error .error__search input {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-right: none;
  border-radius: 4px 0 0 4px;

  color: #666666;
  font-weight: 500;
  line-height: 28px;

  padding: 16px 110px 12px 20px;
}
.error .error__search input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #dc4f72;
}
.error .error__search button {
  background-color: #dc4f72;
  color: #ffffff;
  font-size: 16px;
  width: 100px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  top: 0;
  right: 0;
  height: 58px;
  display: inline-block;
  transition: all 0.5s;
}

.error .error__search .search button:hover {
  background-color: #e4748e;
  border-color: #e4748e;
}
.error .btn__404 {
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  font-weight: 700;
  color: #2c3038;
  transition: all 0.5s;
}
.error .btn__404:hover {
  color: #dc4f72;
}
.error .btn__404:hover i {
    color: #e4748e;
  }
.error .btn__404 i {
  color: #7b7b7b;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  padding-right: 10px;
}
